.modal-container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.modal-container__display {
    max-width: 450px;
    max-height: 200px;
}

.modal-header {
    background-color: #4e54c8;
    color: #fff;
}