<div class="modal-container">
    <div class="modal-content modal-container__display">
        <div class="modal-header">
            <h5 class="modal-title font-weight-bold">Eliminar Empleado</h5>
        </div>
        <div class="modal-body">
            <p>Estas Seguro de eliminar este empleado?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="confirm()">Eliminar</button>
        </div>
    </div>
</div>