<div class="main-container">
    <header class="header-title text-center">
        <h1 class="font-weight-bold">LISTA DE EMPLEADOS CIDENET 2023</h1>
    </header>
    <div class="container mt-5">
        <p class="font-weight-bold text-white">A continuacion se muestran los empleados activos en nuestra base de
            datos:</p>
        <div>
            <a class="btn create-button mb-3" [routerLink]="['/employee']">
                <!-- Redirect to create employee page -->
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Empleado
            </a>
        </div>
        <!-- Table of employees from DB -->
        <div class="table-responsive table-container">
            <table class="table table-hover">
                <thead>
                    <tr class="table-head__cell">
                        <th>Primer Nombre</th>
                        <th>Otros Nombres</th>
                        <th>Primer Apellido</th>
                        <th>Correo Electronico</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Employee data -->
                    <tr *ngFor="let employee of employees | paginate: {itemsPerPage: 10, currentPage: page} ">
                        <td>{{employee.first_name}}</td>
                        <td>{{employee.other_name !== "" ? employee.other_name : "---"}}</td>
                        <td>{{employee.last_name}}</td>
                        <td>{{employee.email}}</td>
                        <td colspan="2" class="btn-actions__container">
                            <!-- Edit and Delete buttons -->
                            <a class="btn create-button mr-3" [routerLink]="['/employee', '' + employee.id]">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                            </a>
                            <button class="btn btn-danger" (click)="showComfirm('' + employee.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Pagination -->
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>
</div>