<div class="main-container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
        <p>No has completado el formulario correctamente</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <header class="header-title text-center">
        <ng-container *ngIf="id !== undefined; else elseTemplate">
            <h1 class="font-weight-bold">EDITAR EMPLEADO</h1>
        </ng-container>
        <ng-template #elseTemplate>
            <h1 class="font-weight-bold">AGREGAR NUEVO EMPLEADO</h1>
        </ng-template>
    </header>
    <!-- Form content -->
    <div class="container mt-5">
        <p class="font-weight-bold text-white">Completa el siguiente formulario: </p>
        <div class="form-container">
            <!-- Form -->
            <form id="employee-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h2 class="font-weight-bold mb-5">Formulario Empleado</h2>
                <div class="form-group">
                    <input 
                        type="text"
                        name="first_name"
                        class="form-control"
                        placeholder="Primer Nombre"
                        formControlName="first_name"
                        oninput="this.value = this.value.toUpperCase()"
                        value="{{employee.first_name}}"
                    >
                    <!-- Error fedbacks -->
                    <div *ngIf="form.controls['first_name'].invalid && (form.controls['first_name'].dirty || form.controls['first_name'].touched)">
                        <span class="text-danger" *ngIf="form.controls['first_name'].errors?.required">El campo es requerido</span>
                        <span class="text-danger" *ngIf="form.controls['first_name'].errors?.maxlength">El campo debe tener 20 caracteres maximo</span>
                        <span class="text-danger" *ngIf="form.controls['first_name'].errors?.pattern">El campo no debe tener acentos ni la letra ñ</span>
                    </div>
                </div>
                <div class="form-group">
                    <input 
                        type="text"
                        name="other_name"
                        class="form-control"
                        placeholder="Otros Nombres"
                        formControlName="other_name"
                        oninput="this.value = this.value.toUpperCase()"
                        value="{{employee.other_name}}"
                    >
                    <!-- Error fedbacks -->
                    <div *ngIf="form.controls['other_name'].invalid && (form.controls['other_name'].dirty || form.controls['other_name'].touched)">
                        <span class="text-danger" *ngIf="form.controls['other_name'].errors?.maxlength">El campo debe tener 50 caracteres maximo</span>
                    </div>
                </div>
                <div class="form-group">
                    <input 
                        type="text"
                        name="last_name"
                        class="form-control"
                        placeholder="Primer Apellido"
                        formControlName="last_name"
                        oninput="this.value = this.value.toUpperCase()"
                        value="{{employee.last_name}}"
                    >
                    <!-- Error fedbacks -->
                    <div *ngIf="form.controls['last_name'].invalid && (form.controls['last_name'].dirty || form.controls['last_name'].touched)">
                        <span class="text-danger" *ngIf="form.controls['last_name'].errors?.required">El campo es requerido</span>
                        <span class="text-danger" *ngIf="form.controls['last_name'].errors?.maxlength">El campo debe tener 20 caracteres maximo</span>
                    </div>
                </div>
                <div class="form-group">
                    <select name="job_country" id="" class="form-control" formControlName="job_country">
                        <option value="">Seleccione Una Opcion</option>
                        <option value="COL">Colombia</option>
                        <option value="USA">Estados Unidos</option>
                    </select>
                    <!-- Error fedbacks -->
                    <div *ngIf="form.controls['job_country'].invalid && (form.controls['job_country'].dirty || form.controls['job_country'].touched)">
                        <span class="text-danger" *ngIf="form.controls['job_country'].errors?.required">El campo es requerido</span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn create-button btn-lg btn-block" [disabled]="form.invalid">
                        <div *ngIf="id !== undefined">
                            <i class="fas fa-pencil"></i> Editar
                        </div>
                        <div *ngIf="id === undefined">
                            <i class="fas fa-save"></i> Agregar
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
