.main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}

.header-title {
    color: #FFF;
    padding: 10px;
    padding-top: 5%;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    margin: 0 10%;
    border-radius: 20px;
}

.create-button {
    background-color: #4e54c8;
    color: #fff;
}

.create-button:hover {
    background-color: #353baf;
}